{% extends "base.html" %}

{% block content %}
<main style="padding: 2rem; text-align: center;">
    <h2>📬 تواصل معنا</h2>
    <p>نرحب برسائلك واقتراحاتك، يسعدنا خدمتك!</p>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="Thamer Albalawi" placeholder="ثامر البلوي" required><br><br>
        <input type="email" name="info@welhost_tour.com" placeholder="info@welhost_tour.com" required><br><br>
        <textarea name="message" placeholder="للاستفسارات تواصل معنا" rows="6" required></textarea><br><br>
        <button type="submit">إرسال</button>
    </form>
</main>
{% endblock %}
